ipython
pillow
pymupdf
numpy
fastapi
pandas
uvicorn
langchain
langchain-community
langserve[all]
langchain-ollama
langchain-huggingface
google-cloud
google-cloud-aiplatform
rich
requests
langchain_google_vertexai
python-multipart
uvicorn